.App {
  text-align: center;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  display: flex;
  flex-flow: nowrap;
}

.header {
  width:40vw;
  padding-top: 1px;
  background: #4a4a4a;
  color: whitesmoke;
  height: 6rem;
}

.sideBar {
  padding: 0;
  margin: 0;
  width: 40vw;
  max-width: 100%;
}

.map-error-message {
  align-content: center;
  padding: 45px;
  font-size: xx-large;
  background: wheat;
  height: 100vh;
}

#search {
  width: 40vw;
  border: #4a4a4a solid;
  margin-top: 3rem;
  height: 2rem;
  font-size: 1rem;
}

.venuesList {
  padding: 1rem;
}

.listItems {
  list-style: none;
  font-size: 1rem;
  padding: .5rem;
  margin-top: 1rem;
  box-shadow: 1px 1px 1px rgba(0,0,0,0.3);
  cursor: pointer;
  display: flex;
  align-items: center;
  background: #4a4a4a;
  color: whitesmoke;
}

img {
  max-width: 100%;
  height: auto;
}

@media screen and (max-width: 550px ) {
  .app {
    width: 62vw;
  }
  .sideBar {
    width: 38vw;
  }
  .listItems {
    display: block;
  }

}


